<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minha página HTML</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<div class="jogo">
    {% if not premio %}
    <form method="post">

        <div class="jogo__input">
            <label for="nome" class="jogo__label jogo__label--nome">Digite o seu nome</label>
            <input name="nome" id="nome" value="{{ request.form['nome'] }}" required>
        </div>

        <div class="jogo__input">
            <input type="radio" id="escolha1" name="escolha" value="bulbassauro" checked>
            <label for="escolha1" class="jogo__label">Bulbassauro</label><br>

            <input type="radio" id="escolha2" name="escolha" value="charmander">
            <label for="escolha2" class="jogo__label">Charmander</label><br>

            <input type="radio" id="escolha3" name="escolha" value="squirtle">
            <label for="escolha3" class="jogo__label">Squirtle</label>
        </div>

        <div class="jogo__input">
            <input type="submit" class="jogo__botao" value="Jogar!">
        </div>
    </form>

    {% else %}

    <div class="jogo__premio">{{ nome }}, você capturou <b>{{ premio }}</b>!</div>

    <div class="jogo__premio-imagem">
        <img src="{{ premio_imagem }}" alt="Imagem do Prêmio" width="100%">
    </div>

    <div class="jogo__input jogo__input--jogar-novamente">
        <a href="/" class="jogo__botao">Jogar novamente!</a>
    </div>

    {% endif %}
</div>

</body>
</html>
